<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="powerup.systers.com" >


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="powerup.systers.com.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="powerup.systers.com.Game"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="powerup.systers.com.AvatarRoom"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="powerup.systers.com.AvatarActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="powerup.systers.com.MapActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="powerup.systers.com.CompletedScene"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="powerup.systers.com.GameOver"
            android:label="@string/app_name" >
        </activity>

        <uses-library android:name="android.test.runner" />
    </application>

</manifest>